<main class="antialiased">
  <div class="space-x-4 space-y-4 my-12 text-sm mx-6">
    <p>Type a word from English dictionary:</p>
    <form action="">
      <label for="search">
      </label>
      <input [(ngModel)]="englishWord" [ngModelOptions]="{standalone: true}" type="text" placeholder="type a word"
        class="min-w-60 rounded-3xl px-4 py-1 bg-zinc-900 text-zinc-400">
      <button (click)="search()" class="bg-lime-300 text-black px-6 py-1 mx-2 rounded-3xl">Search</button>
    </form>
  </div>
  <hr class="border-zinc-800">
  <div *ngIf="wordPainelVisible" class="flex items-center gap-3 space-x-4 overflow-y-auto">
    <section class="text-9xl min-w-fit px-6 py-6 overflow-hidden">
      {{word}}
      <span class="font-bold text-sm text-white">{{phonetic}}</span>
    </section>
    <section class="text-lg">
      <p>{{word.toUpperCase()}}. <span class="font-thin">origin:</span> {{origin}} <span
          class="font-normal">{{phonetic}}</span></p>
      <div *ngFor="let meaning of this.meanings">
        <ul>
          <li><span class="font-bold text-orange-500">{{meaning.partOfSpeech}}</span></li>
          <ol>
            <div *ngFor="let definition of meaning.definitions">
              <li> <span class="font-thin">{{definition.definition}}</span></li>
              <li> <i>e.g.:</i><span class="font-semibold">{{definition.example}}</span> </li>
              <ol>
                <div *ngFor="let acro of definition.antonyms">
                  <li><span class="font-serif text-cyan-400">{{acro}}</span></li>
                </div>
                <li><span><i>Synonyms:</i></span></li>
                <div *ngFor="let synonim of definition.synonyms">
                  <li><span class="text-pink-600">{{synonim}}</span></li>
                </div>
              </ol>
            </div>
          </ol>
        </ul>
      </div>
    </section>
  </div>
</main>